* {  /* tudo será bordado** */
    box-sizing: border-box;
}

body{
    margin: 50px;
    font-size: 17px;
}

h1{
    font-family: 'Chilanka';
}
table thead{
    background-color: green;
}
table{
    width: 600px;
    border: 1px solid black;
}

table tbody{
    background-color: rebeccapurple;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

tbody tr:hover{
    background-color: #EEE;
}
